/* Add to your assets/css/styles.css file */

/* Container for magazine-style articles */
.article-content {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Example of a two-column layout */
  gap: 20px;
}

/* Styling for images */
.article-image {
  width: 700px;
  height: auto;
}

/* Styling for headings */
.article-heading {
  font-weight: bold;
  font-size: 2em;
}

/* Styling for subheadings */
.article-subheading {
  font-weight: bold;
  font-size: 1.5em;
}

/* Styling for paragraphs */
.article-paragraph {
  font-size: 1em;
  line-height: 1.6;
}

/* Font style */

body, button, input, select, textarea {
  font-family: "Georgia", "Times New Roman", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", "Times New Roman", serif;
}
