---
layout: magazine
---


<!-- _layouts/magazine.html -->
<!DOCTYPE html>
<html lang="en">


<link rel="stylesheet" href="{{ '/assets/css/fonts.css'}}">

<head>
    <!-- Meta tags, CSS link -->
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <header>
        <!-- Site header content -->
    </header>

    <main class="container">
        {{ content }}
    </main>

    <footer>
        <!-- Site footer content -->
    </footer>
</body>

</html>